body {font-family:Verdana, sans-serif; font-size: 1em; line-height: 1.4;}

.container {
    display: grid;
    grid-template-columns: 40px 50px auto; 
    grid-template-rows: 25% 100px auto;
    background-color: aqua;
    font-family:Arial;
    color: red;
    

}

.item-1 {
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:row1-start
    grid-row-end: 2;
    background-color:aliceblue;

} 
.item-2 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: row2-start
    grid-row-end: span 2;
    background-color:#b6ff00;

}
.item-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: row4-start
    grid-row-end: 5;    
    background-color:#b200ff;
    color: #fff;

}